@model DATN_ASP.Models.SanPham

@{
    ViewData["Title"] = "Details";
}
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<h1>Details</h1>

<div>
    <h4>SanPham</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <img src="~/assets/image/@Html.DisplayFor(model => model.AnhDaiDien)" width="100" height="100" />
            @*@Html.DisplayNameFor(model => model.AnhDaiDien)*@
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AnhDaiDien)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HinhAnh)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HinhAnh.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaSP)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaSP)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TenSP)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TenSP)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DonGia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DonGia)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SoLuong)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SoLuong)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DanhMuc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DanhMuc.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TacGiaId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TacGiaId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NhaXuatBan)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NhaXuatBan.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NgayXuatBan)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NgayXuatBan)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MoTa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KhuyenMai)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KhuyenMai.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GiamGia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GiamGia)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NgayLap)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NgayLap)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TrangThai)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
